/* Estilo general del título */ 
h2 {
    color: #c2185b;
    text-align: center;
}

/* Encabezado de tabla */
.table thead th {
    background-color: #c2185b;
    color: white;
    border-color: #c2185b;
}

/* Card header */
.card-header{
    background-color: #c2185b;
    border-color: #c2185b;
    color: white
}

/* Botón crear usuario con mascota*/
.btn-crear {
    background-color: #c2185b;
    border-color: #c2185b;
    color: white
}

/* Botón editar */
.btn-editar {
    background-color: #f48fb1;
    border-color: #f48fb1;
    color: white;
}

/* Subtítulos del formulario */
h5 {
    color: #c2185b;
}


