.menu-full {
    width: 100%;
    background-color: #f8b3d6;
    border-radius: 0; /* barra recta */
}

/* Estilo de los botones */
.nav-pills .nav-link {
    background-color: #ffe4ef;
    color: #c2185b;
    font-weight: 600;
}

.nav-pills .nav-link.active {
    background-color: #c2185b;
    color: white;
}