html, body {
    height: 100%;
    background-color: #fde7f2;
    margin: 0;
}

.container-fluid {
    background-color: #fde7f2 !important;
}


.menu-full {
    background-color: #f8b3d6; 
    display: flex;
    align-items: center;
    justify-content: flex-start;
  width: 100%;               /* ESTIRA EL BACKGROUND */
  padding: 8px 15px 8px 12px; /* top right bottom left */
    gap: 10px;
}
